@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
    Skiizoh<br />
    Emerald Dream - US<br />
</address>

<address>
    Wiskidew<br />
    Emerald Dream - US<br />
</address>
